@page
@model NewModel
@{
    ViewData["Title"] = "新的故事";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">选择写作风格</h3>
    </div>
    <div class="card-body">
        @if (Model.Styles.Count > 0)
        {
            <form id="form" method="post">
                @foreach (var style in Model.Styles)
                {
                    <div class="form-group">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radio@(style.Id)" name="SelectStyleId" asp-for="SelectStyleId" value="@style.Id">
                            <label for="radio@(style.Id)">
                                @style.Name
                            </label>
                        </div>
                        <div class="mt-2 font-size-sm" for="radio@(style.Id)">@style.KeyWords</div>
                    </div>
                    <hr />
                }
                <div>
                    <button id="btnSubmit" type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-paper-plane"></i> 开始编写
                    </button>
                </div>
                <div>
                    <span asp-validation-for="SelectStyleId" class="text-danger"></span>
                </div>
            </form>
        }
        else
        {
            <span>请先<a asp-page="/Styles/Edit" class="btn-link">创建写作风格</a>！</span>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#form').on('submit', function (e) {
                if ($(this).valid()) {
                    buttonAddLoading("#btnSubmit");
                }
            });
        });
    </script>
}
