@page "{Id?}"
@model EditModel
@{
    ViewData["Title"] = Model.Name == null ? "新建写作风格" : $"修改写作风格: {Model.Name}";
}

<div class="card card-info card-outline">
    <div class="card-body">
        <form id="form" method="post">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">风格名称</label>
                <div class="col-sm-10">
                    <input class="form-control" id="name" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">风格描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="keywords" rows="5" asp-for="KeyWords"></textarea>
                    <span asp-validation-for="KeyWords" class="text-danger"></span>
                </div>
            </div>
            <div class="clearfix">
                <button type="submit" class="btn btn-info float-left">
                    <i class="fa-solid fa-paper-plane"></i> 保存
                </button>
                @if (Model.Name != null)
                {
                    <button id="removeStyle" type="button" class="btn btn-danger float-right">
                        <i class="fa-solid fa-trash-can"></i> 删除
                    </button>
                }
            </div>
        </form>
        @if (Model.Name != null)
        {
            <form id="formRemove" method="post" asp-page-handler="Remove">
            </form>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#removeStyle").on("click", function (e) {
                showConfirmBox("确定要删除风格【@Html.Raw(Model.Name)】吗？", function () {
                    $("#formRemove").submit();
                });
            });
        });
    </script>
}